<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книги по названию</title>
</head>
<body>

</form>
<form th:action="@{/books}">
    <input th:type="submit" value="к списку книг"/>
</form>

<form th:method="POST"  th:action="@{/books/search}" >
    <label for="query"> Поиск по названию </label>
    <input id="query" type="text" name="query"/>
    <input th:type="submit" value="Искать">
</form>

<div th:if="${books.isEmpty()}">
    <span style="color: red">Книг не найдено </span>
</div>

<div th:each="book : ${books}">
    <a th:href="@{/books/{id}(id=${book.getId()})}"
       th:text="${book.getTitle()+ ', ' + book.getAuthor() +', ' + book.getYear()}">user</a>
</div>

</body>
</html>