<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список читалей</title>
</head>
<body>

<div th:each="person:${people}">
    <a th:href="@{/people/{id}(id=${person.getId()})}"
       th:text="${person.getFullName()+ ', ' + person.getYear()}">user</a>
</div>
<hr/>
<form th:action="@{/people/new}">
    <input th:type="submit" value="Создать профиль читателя"/>
</form>
<br/>
<form th:action="@{/books}">
    <input th:type="submit" value="к списку книг"/>
</form>
<br/>
<form th:action="@{/people/search}" th:method="POST">
    <label for="query"> Поиск по ФИО </label>
    <input id="query" name="query" type="text"/>
    <input th:type="submit" value="Искать">
</form>


</body>
</html>